{
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "max-len": [1, 140, 2],
    "react-hooks/rules-of-hooks": "error",
    "react/prop-types": 0,
    "jsx-a11y/media-has-caption": [ 0, {
      "audio": [ "Audio" ],
      "video": [ "Video" ],
      "track": [ "Track" ]
    }]
  }
}